<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionForEmployeeManagement"
		connectionString="Data Source=LAPTOP-HOHQ552T\SQLEXPRESS;Initial Catalog=EmployeeManagementSystemWithCodeFirstData;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>